// variables
$title-font: "Barlow Condensed", sans-serif;
$subtitle-font: "Bellefair", sans-serif;
$btns-font : "Barlow Condensed", sans-serif;
$p-font : "Barlow", sans-serif;
$text-clr: #D0D6F9;

$break-1: "(max-width: 1023px)";
$break-2: "(min-width: 768px) and (max-width: 1023px)";
$break-3: "(min-width: 1024px)";

@mixin normal-font() {
    font-style: normal;
    font-weight: normal;
}
// reset style
    button {
        background-color: unset;
        border: 0;
    }

    h2 {
        margin: 0;
    }
    p {
        margin: 0;
    }
// basic style
.background-image {
    position:fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("../../../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
    @media #{$break-3} {
        background-image: url("../../../assets/destination/background-destination-desktop.jpg");

    }
}
.container {
    width: 100%;
    display: grid;

    >h2 {
        font-family: $title-font; 
        letter-spacing:.2rem;
        @include normal-font();
        text-transform: uppercase;
        
        >span {
            color: grey;
            font-weight: bold;
            padding-inline-end: .75rem;
        }
    }
    .main {
        display: grid;

        .planet-info{
            .planet-info--navbar {
                >button{
                    font-family: $btns-font;
                    @include normal-font();
                    text-transform: uppercase;
                    color: $text-clr;
                }
            }
            .planet-info--title {
                >h2 {
                    font-family: $subtitle-font;
                    text-transform: uppercase;
                    @include normal-font();
                }
            }
            .planet-info--text {
                font-family: $p-font;
                color: $text-clr;


            }
            .planet-info--details {
                .details {
                    >p{
                        &:first-of-type {
                            font-family: $title-font;
                            letter-spacing: .1rem;
                            color: $text-clr;
                            text-transform: uppercase;
                        }
                        &:last-of-type{
                            font-family: $subtitle-font;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
// media quary 
@media #{$break-1} {
    .container {
        >h2{
            padding-inline-start: 2rem;
            margin-bottom: 2rem;
        }
        .main {
            .planet {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;
                .img{
                    width: 100%;
                    display:flex;
                    justify-content: center;
                    >img {
                        width: 40%;
                    }
                }
            }
            .planet-info {
                display: grid;
                justify-items: center;
                
                .planet-info--navbar {
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;
                    margin-bottom: 2rem;
                    >button {
                        font-size: clamp(1.4rem, 3.5vw, 2rem);
                    }
                }
                .planet-info--title {
                    >h2 {
                        font-size: clamp(6.5rem, 15vw, 10rem);
                    }
                }
                .planet-info--text {
                    width: 80%;
                    text-align: center;
                    margin-bottom: 2rem;
                    >p {
                        font-size: clamp(1.15rem, 2.5vw, 1.5rem);
                        line-height: 3rem;
                        margin-bottom: 1rem;
                    }
                    &:after {
                        content: " ";
                        position: absolute;
                        left: calc(50% - 40%);
                        width: 80%;
                        border: 1px solid grey;
                        opacity: .7;
                    }
                }
                .planet-info--details {
                    text-align: center;

                    .details {
                        margin-bottom: 2rem;
                        >p {
                            &:first-of-type {
                                font-size: clamp(1rem, 2.5vw, 2rem);
                                margin-bottom: 1rem;
                            }
                            &:last-of-type {
                                font-size: clamp(1.2rem, 6vw, 3.5rem);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media #{$break-2} { // same style as break-1 but with diffrent font-sizes
    .container {
        >h2{
            padding-inline-start: 2rem;
            margin-bottom: 2rem;
        }
        .main {
            .planet {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;
                .img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    >img {
                        width: 40%;
                    }
                }
            }
            .planet-info {
                display: grid;
                justify-items: center;
                
                .planet-info--navbar {
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;
                    margin-bottom: 2rem;
                    >button {
                        font-size: clamp(1rem, 2.5vw, 1.7rem);
                    }
                }
                .planet-info--title {
                    >h2 {
                        font-size: clamp(5rem, 13vw, 8rem);
                    }
                }
                .planet-info--text {
                    width: 80%;
                    text-align: center;
                    margin-bottom: 4rem;
                    >p {
                        font-size: clamp(1rem, 2vw, 1.5rem);
                        line-height: 3rem;
                        margin-bottom: 3rem;
                    }
                    &:after {
                        content: " ";
                        position: absolute;
                        left: calc(50% - 40%);
                        width: 80%;
                        border: 1px solid grey;
                        opacity: .7;
                    }
                }
                .planet-info--details {
                    text-align: center;
                    display:flex;
                    gap: 10rem;

                    .details {
                        margin-bottom: 2rem;
                        >p {
                            &:first-of-type {
                                font-size: clamp(.6rem, 1.5vw, 1rem);
                                margin-bottom: 1rem;
                            }
                            &:last-of-type {
                                font-size: clamp(1rem, 4vw, 2.5rem);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media #{$break-3} {
    .container {
        >h2 {
            padding-inline-start: clamp(5em,8vw,10rem);
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        .main {
            padding-inline: 10vw;
            grid-template-columns: 1fr 1fr;

            .planet {
                display: flex;
                justify-content: center;
                align-items: center;
                .img{
                    width: 70%;
                    height: fit-content;
                    >img {
                        width: 100%;
                    }
                }                
            }
            .planet-info {
                padding: 2rem;
                .planet-info--navbar {
                    display: flex;
                    gap: clamp(1rem, 2vw, 3rem);
                    margin-bottom: 3rem;
                    >button {
                        font-size: clamp(1rem, 1.5vw, 1.2rem);
                        letter-spacing: .2rem;
                    }
                }
                .planet-info--title {
                    >h2 {
                        font-size: clamp(3rem, 8vw, 9rem);
                        margin-bottom: 2rem;
                    }
                }
                .planet-info--text {
                    width: clamp(28rem, 80%, 40rem);
                    margin-bottom: 2rem;
                    >p {
                        position: relative;
                        font-size: clamp(.8rem, 1.5vw, 1.125rem);
                        line-height: 3rem;
                        margin-bottom: 4rem;

                        &:after {
                            content: " ";
                            position: absolute;
                            bottom: calc(0% - 2rem);
                            left: 0;
                            width: 100%;
                            border: 1px solid grey;
                            opacity: .7;
                        }
                    }
                }
                .planet-info--details {
                    display: flex;
                    gap: clamp(4rem, 10vw, 8rem);
                    .details {
                        >p{
                            &:first-of-type {
                                font-size: clamp(.6rem, 1.2vw, .9rem);
                                margin-bottom: 1rem;
                            }
                            &:last-of-type {
                                font-size: clamp(1.5rem, 2.5vw, 2rem);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

