<div class="background-image"></div>

<div class="container">
    <h2><span>01</span>Pick your destination</h2>
    <div class="main">
        <div class="planet">
            <div class="img">
                <img [src]="imageDirection" alt="a star">
            </div>
        </div>
        <div class="planet-info">
            <div class="planet-info--navbar">
                <button (click)="getPlanetData(0)">Moon</button>
                <button (click)="getPlanetData(1)">Mars</button>
                <button (click)="getPlanetData(2)">Europa</button>
                <button (click)="getPlanetData(3)">Titan</button>
            </div>
            <div class="planet-info--title">
                <h2>{{starName}}</h2>
            </div>
            <div class="planet-info--text">
                <p>{{description}}</p>
            </div>
            <div class="planet-info--details">
                <div class="details">
                    <p>avg. distance</p>
                    <p>{{distance}}</p>
                </div>
                <div class="details">
                    <p>est. travel time</p>
                    <p>{{travelTime}}</p>
                </div>
            </div>
        </div>
    </div>

</div>