header {
    width: 100vw;
    height: min(6em, 8vh);
    
    display: flex; 
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 2.5rem;

    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;

    margin-bottom: 7.5em;

    >div{
        padding-inline-start: 4.5em;
        margin-inline-end: 4.5em;
    }
    >nav {
        width: 60vw;
        
        >ul {
            height: 6em;
            display: flex;
            gap: clamp(1.5em, 2.6vw, 5em);
            align-items: center;
            list-style-type: none;
            padding-inline-start: 6vw;
            
            background: hsl(0 0% 100% / 0.1);
            backdrop-filter: blur(1em);

            >li{
                
                >a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: .3em;
                    
                    >span {
                        font-weight: bold;
                        margin-inline-end: 0.5em;
                    }
                }
            }
        }
    }
}

.active {
    &:after {
        content: " ";
        width: 100%;
        border-bottom: 1px solid red;

    }
}

@media (max-width: 1024px) {
    header {
        margin-bottom: 2em;
        top:0;
    }
    a{
        font-size: clamp(.7em, 1.5vw, 3em)
    }
    span {
        display: none;
    }
}
