// variables 
$title-font: "Barlow Condensed", sans-serif;
$subtitle-font: "Bellefair", sans-serif;
$p-font : "Barlow", sans-serif;
$text-clr: #D0D6F9;

$break-1: "(max-width: 1023px)";
$break-2: "(min-width: 768px) and (max-width: 1023px)";
$break-3: "(min-width: 1024px)";

@mixin normal-font() {
    font-style: normal;
    font-weight: normal;
}
// style reset 
 h2 {
     margin: 0;
 }
// basic style 
.background-image {
    position:fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("../../../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
    @media #{$break-3} {
        background-image: url("../../../assets/home/background-home-desktop.jpg");

    }
}
.content {
    >h1 {
        font-family: $title-font;
        color: $text-clr;
        @include normal-font();
    }
    >h2 {
        font-family: $subtitle-font;
        @include normal-font();
        text-transform: uppercase;
    }
    >p {
        font-family: $p-font;
        color: $text-clr;
    }
}
// media quary 
@media #{$break-1} {
    .content {
        display: grid;
        justify-items: center;
        text-align: center;

        margin-bottom: max(5rem, 12vh);

        >h1 {
            font-size: clamp(1.6rem , 4vw , 2rem);
        }
        >h2 {
            font-size: clamp(6rem , 17vw , 8rem);
        }
        >p {
            width: clamp(27rem , 80vw , 40rem);
            font-size: clamp(1rem , 3vw , 1.5rem);
        }
    }
    .explore {
        display: flex;
        justify-content:center;
        >h2 {
            width: clamp(12rem, 32vw , 15rem);
            height: clamp(12rem, 32vw , 15rem);
            border-radius: 50%;
            background-color: white;
            color: black;
            display: grid;
            place-content: center;

            font-size: clamp(2rem, 5vw , 2.5rem);
            font-family: $subtitle-font;
            @include normal-font();
            text-transform: uppercase;
        }
    }
}
@media #{$break-2} {
    .content {
        >h1 {
            font-size: clamp(1rem , 3vw , 1.5rem);
        }
        >h2 {
            font-size: clamp(8rem, 18vw , 11rem);
        }
        >p {
            width: clamp(27rem , 70vw , 35rem);
            font-size: clamp(1rem , 3vw , 1.2rem);
            line-height: 2rem;
        }
    }
}
@media #{$break-3} {
    .loz {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-block-start: max(15rem, 25vh);

        .content {
            display: grid;
            place-content: center;
            >h1{
                font-size: clamp(1rem , 2vw , 1.4rem);
                letter-spacing: .3rem;
            }
            >h2{
                font-size: clamp(8rem , 9vw , 10rem);
            }
            >p {
                width: 30rem;
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
        .explore {
            display: grid;
            place-content: center;
            >h2{
                width: 20rem;
                height: 20rem;
                background-color: white;
                color: black;
                border-radius: 50%;
                text-transform: uppercase;
                font-size: 2rem;
                display: grid;
                place-content: center;
            }
        }
    }
}