/* You can add global styles to this file, and also import other style files */
// variables
$break-1: "(max-with 767px)";
$break-2: "(min-width: 768px) (max-width: 1023px)";
$break-3: "(min-width:1024px)";


html {
    font-size: 16px;
}
*,
*::after,
*:before {
    box-sizing: border-box;
}
body {
    color: white;
    overflow-x: hidden;
    margin:0;
}